html {
	
}
body, textarea {
	font-family: 'Arial';
}

a {
	color: #202020;
}
a:hover {
	text-decoration: none;
	color: #ab0000;
}

.logo {
	font-weight: bold;
	font-size: 26pt;
	text-decoration: none;
	line-height: 40pt;
}

.content_wrap {
	width: 1000px;
	margin: 0 auto;
	
}
.content_wrap > .content {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(128,128,128,1);
	box-shadow: 0px 0px 1px 1px rgba(128,128,128,1);
	padding: 10px 30px;
}

.error {
	font-size: 16pt;
	font-weight: bold;
	color: red;
}

.catalog {
	padding: 0;
	margin: 0;
	width: 100%;
}
.catalog .title {
	font-weight: bold;
}
.catalog .description {
	font-size: 8pt;
}
.catalog td {
	padding: 5px;
	vertical-align: top;
}
.catalog td.id,
.catalog td.price {
	white-space: nowrap;
}

.pages .active {
	font-weight: bold;
	color: #ab0000;
	text-decoration: none;
}

form {}
form .field {
	margin-bottom: 10px;
}
form .field .label {
	font-size: 10pt;
	color: #808080;
}
form .field .input {}
form .field .input input {
	font-size: 12pt;
	padding: 5px 5px;
	width: 500px;
}
form .field .input textarea {
	font-size: 12pt;
	padding: 5px 5px;
	width: 100%;
}
form .field .price {
	width: 100px !important;
}
form .field .error {
	font-size: 10pt;
	font-weight: normal;
}

.clear {
	clear: both;
}

.infomessage {
	float: left;
	background: green;
	padding: 4px 5px;
	color: white;
	font-size: 10pt;
	margin-bottom: 10px;
}